*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}



.main {
    font-size: 2rem;
    display: block;
    background-color: blue;
    margin: 4rem;
    padding: 1rem;
    @include clearfix;
}


.sub {
    background-color: beige;
    float: left;
    margin: 2rem;
    padding: 3rem;
}
