*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}



.main {
    font-size: 2rem;
    display: grid;
    background-color: blue;
    margin: 4rem;
}

.sub {
    background-color: beige;
    margin: 2rem;
    padding: 3rem;
}