
@include resopnd(phone) {
    body {
        background-color: aqua;
    }
}

@include resopnd(tab-land){
    body {
        background-color: maroon;
    };
}

@include resopnd(tap-port) {
    body {
        background-color: red;
    }
}

