*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: #0f9bbe;
    color: white;
}

p {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}


svg {width: 5rem;
    height: 5rem;
    }


::selection {
    color: #fcc000;
    background-color: #ff70ff;
}
