section#weather {
    margin: 2rem auto 0;
}

h1 {
    text-align: center;
    font-size: 6rem;
    letter-spacing: 0.4rem;
    font-weight: 600;
}

div.weather__info__temp {
    padding: 4rem;
}

div.weather__info {
    display: flex;

    justify-content: space-evenly;
    
}